*   {
    box-sizing: border-box;
}


.card    {
    display: flex;
    justify-content: space-evenly;
    border: 6px solid rgba(134, 37, 143, 0.358);
    margin: 40px 200px;
    width: 800px;
    background-color: rgba(235, 0, 188, 0.317);
    border-radius: 15px;
   
}

.cardleft, .cardright   {
    background-image: url("../valentine/img/hearts.png");
    width: 10vh;
    margin: 2px;
    border-radius: 15px;
}

.cardcenter {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vh;
    
}

.cardtop    {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 6px solid rgba(134, 37, 143, 0.358);
    width: 100%;
    height: 30vh;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
}

.arrow  {
    width: 80px;
    max-height: auto;
    transform: rotate(-45deg);
}

.cardmid       {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 6px solid rgba(134, 37, 143, 0.358);
    width: 100%;
    height: 20vh;
    margin: 5px;
}

#choices    {
    
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: 'Shizuru', cursive;
    font-size: 10vh;
}

.cardbottom     {
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: 3vh;
    align-items: center;
    border: 6px solid rgba(134, 37, 143, 0.358);
    width: 100%;
    height: 30vh;
    margin: 5px;
    
}

#clkNo     {
    margin: 20px;
    display: none;
    align-items: center;
    flex: 1;
    
}

#clkYes     {
    margin: 20px;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 2vh;
    
}

.arrowcontain   {
    display: flex;   
    justify-content: space-between;
    width: 100%;
}

.img    {
    text-align: center;
    margin: 10px;
}
.divcenter {
    width: 100%;
}

.paddingneeded  {
   text-align: right;
}
#txtbox {
    font-family: 'Shizuru', cursive;
    text-align: center;
    border-radius: 15px;
    padding: 3vh;
    margin: 0px;
    font-size: 6vh;
}

.txt1     {
    background-color: rgba(242, 0, 255, 0.529);
}
.txt2     {
    background-color: rgba(226, 43, 220, 0.317);
}
.txt3     {
    background-color: rgba(154, 1, 249, 0.612);
}
.txt4     {
    background-color: rgba(226, 43, 43, 0.502);
}
.txt5     {
    background-color: rgba(137, 43, 226, 0.399);
}
.txt6     {
    background-color: rgba(255, 162, 0, 0.584);
}
.txt7     {
    background-color: rgba(226, 43, 43, 0.283);
}
.txt8     {
    background-color: rgba(226, 43, 43, 0.66);
}